#logo{
	width: 60px;
   height: 60px;
}

h1{

	text-align: center;
	text-justify: inter-cluster;
	font-size: 20px;
	font-style: italic;
	color: darkgreen;

}

h3{
	text-align: center;
	text-justify: inter-cluster;
	font-size: 20px;
	color: lightred;
}



.navbar-brand{
	font-style: italic;
	font-family: fantasy;
}

.frambi{
   width: 600;
   height: 700;
   border-width:1px;
   border-style: solid;
   display: inline-block;
   position: relative;
   margin: -30px auto 0 auto;
   top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h6{
	text-align: center;
	text-justify: inter-cluster;
	font-size: 20px;
	color: lightred;
}

con_bold{
	font-style: bold;
	font-family: fantasy;

}

.table_s {
  display: inline-block;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

}