h1{

	text-align: center;
	text-justify: inter-cluster;
	font-size: 20px;
	font-style: italic;
	color: darkgreen;

}

h3{
	text-align: center;
	text-justify: inter-cluster;
	font-size: 20px;
	color: lightred;
}

nav {
	background-color: green;
}

.navbar-brand{
	font-style: italic;
	font-family: fantasy;
}

.frambi{
   width: 600;
   height: 700;
   border-width:1px;
   border-style: solid;
   display: inline-block;
   position: relative;
   margin: -30px auto 0 auto;
   top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}